# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'pip'
    directory: '/'
    schedule:
      interval: 'daily'
    # Raise pull requests for version updates
    # to pip against the `develop` branch
    target-branch: 'fix/update-package-json-INT-122'
    # Labels on pull requests for version updates only
    labels:
      - 'pip dependencies'

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      # Check for npm updates on Sundays
      day: 'sunday'
    # Labels on pull requests for security and version updates
    labels:
      - 'npm dependencies'
