name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  VITE_ACCESS_TOKEN: 0yFvs04aKF2rpz6F8OfIQtt
  VITE_OAUTH_TOKEN: meWkYejN3HKX291k7WTRdAtt-76646-kcHesqDzj_ugHNWbzY7i
  VITE_SPACE_ID: 103062
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "^18.4.0"
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - run: npm run lint
      - run: npm run prettier -- --check
      - run: npm run test
      - run: npm run build
