name: build

env:
  VITE_ACCESS_TOKEN: ${{ vars.VITE_ACCESS_TOKEN }}
  VITE_OAUTH_TOKEN: ${{ vars.VITE_OAUTH_TOKEN }}
  VITE_SPACE_ID: ${{ vars.VITE_SPACE_ID }}
  TEST_VAR: ${{ vars.TEST_VAR }}

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: "Test var"
      run: echo "This is test var value $TEST_VAR"
    - uses: actions/checkout@v3
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: "^18.4.0"
        cache: "npm"
    - name: Install dependencies
      run: npm ci
    - run: npm run lint
    - run: npm run prettier -- --check
    - run: npm run test
    - run: npm run build
